<html>
  <head>
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>No title</title>
    {% endif %}
    <script src="{{ url_for('static', filename='jquery/jquery.3.6.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
  </head>
  <body>
    <h1>hello, {{ user.name }}</h1>
  </body>
  <button type="button" id="change_password_btn" value="{{ user.email }}">
    修改密码
  </button>
  <button type="button" id="logout_btn" value="{{ user.id }}">登出</button>
  <button type="button" id="add_todolist_btn" value="{{ user.id }}">新建代办清单</button>
  <table>
    <thead>
      <tr>
        <td>事项</td>
        <td>备注</td>
        <td>时间</td>
        <td>操作</td>
      </tr>
    </thead>
    <tbody>
      {% for events in lists%}
      <h2>{{ list.list_name }}</h2>
        {% for event in events %}
          {% if event.todo_list_id == list.id %}
          <tr>
            <td>{{ event.title }}</td>
            <td>{{ event.content }}</td>
            <td>{{ event.setting_datetime }}</td>
            <td>
              <button type="button" id="delete_event_btn" value="{{ event.id }}">完成✅</button>
            </td>
          </tr>
          {% endif %}
        {% endfor %}
        <tr>
          <button type="button" id="add_event_btn" value="{{ title.id }}">添加代办事项</button>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</html>
